body {
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

main {
    padding-bottom: 239px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.main_link {
    display: block;
    padding-left: 35px;
    padding-top: 10px;
}

.number {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-right: 39px;
}

.accent_color {
    color: #D6AF76;
}

.number_button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 25px 10px 39px;
    border: 1px solid #E4B564;
}

.specailisation_container {
    margin-top: 128px;
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.main_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.main_subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    margin-bottom: 41px;
    color: #FFFFFF;
}

.specification_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "item-1 item-1 item-2 item-2 item-3 item-3"
    "item-4 item-4 item-4 item-5 item-5 item-5";
    row-gap: 25px;
    column-gap: 27px;    
}

.specification_item {
    text-align: center;
    height: 468px;
    position: relative;
}

.specification_link {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.item-1 {
    grid-area: item-1;
    background: #634F2C;
}

.item-2 {
    grid-area: item-2;
    background: #B4A385;
}

.item-3 {
    grid-area: item-3;
    background: #E4B564;
}

.item-4 {
    grid-area: item-4;
    background: #635A4A;
}

.item-5 {
    grid-area: item-5;
    background: #B08C4D;
}

.machinery .main_title {
    padding-top: 161px;
    padding-bottom: 94px;
}

.machinery_list {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 265px 59px 118px 158px 277px;
    grid-gap: 25px;
    grid-template-areas: 
    "machinery1 machinery2 machinery3"
    "machinery1 machinery2 machinery6"
    "machinery4 machinery2 machinery6"
    "machinery4 machinery5 machinery6"
    "machinery4 machinery5 machinery7";
}

.machinery_item {
    padding-top: 44px;
    padding-left: 52px;
}

.mahinery_link {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.machinery_1 {
    grid-area: machinery1;
    background: #0E0E0E;
}
.machinery_2 {
    grid-area: machinery2;
    background: #242424;
}

.machinery_3 {
    grid-area: machinery3;
    background: #1F1F1F;
}

.machinery_4 {
    grid-area: machinery4;
    background: #1F1F1F;
}

.machinery_5 {
    grid-area: machinery5;
    background: #E4B564;
}

.machinery_6 {
    grid-area: machinery6;
    background: #0E0E0E;
}

.machinery_7 {
    grid-area: machinery7;
    background: #0A0909;
}

.projects {
    background-image: url(../img/parallax-bg.jpeg);
}

.projects .container {
    margin-top: 191px;
}

.clients_title {
    padding-top: 172px;
    display: flex;
    justify-content: space-between;
}

.filter_button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}

.projects_list {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: repeat(3, 487px);
    margin-top: 72px;
}

.project_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project_item:hover .project_img_description {
    display: block;
    height: 140px;
}

/* .project_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
} */

.project_img_description {
    height: 0;
    overflow: hidden;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    transition: 0.2s;
}

.project_item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
}

.client_1 {
    background: #634F2C;
}

.client_2 {
    background: rgba(232, 210, 171, 0.76);
}

.client_3 {
    background: #E4B564;
}

.client_4 {
    background: #635A4A;
}

.client_5 {
    background: #B08C4D;
}

.client_6 {
    background: #634F2C;
}
